<h2 class="mt-3 text-center">
  Welcome
  <strong><%= @user.first_name %></strong>  <br>
  to your profile page!
</h2>
  <div class="show-bottom" style="background-color: #494953; color: #EDF2F6;">
    <p style="text-align:center;">Your Accout Details:</p>
    <div class="diplay-raw">
    <p>First name: <span class="ruby-text"><%= @user.first_name %></span></p>
    </div>
    <div class="diplay-raw">
    <p>Last name: <span class="ruby-text"><%= @user.last_name %></span></p>
    </div>
    <div class="diplay-raw">
    <p>Birth date: <span class="ruby-text"><%= @user.birth_date %></span></p>
    </div>
    <div class="diplay-raw">
    <p>Email: <span class="ruby-text"><%= @user.email %></span></p>
    </div>
    <div class="diplay-raw">
    <p>Address: <span class="ruby-text"><%= @user.address %></span></p>
    </div>
    </div>
    <div class="show-boking">
    <p style="text-align:center; font-weight: bold;"> Your Bookings:</p>
    <p><% @bookings.each do |booking| %>
      <%= booking.activity.title %><br>
      <%= booking.activity.location %><br>
      <%= booking.date %><br>
    <% end %><p>
    </div>
    </div>

</div>
