<div class="show-page">
  <div class="show-up">
    <div class="show-image" style="padding:10px">
      <img style="width: 130px;" src="https://cdn-icons-png.flaticon.com/512/994/994588.png" alt="">
    </div>
    <div class="show-message">
      <p>
        Welcome
        <strong><%= @user.first_name %></strong>  <br>
        to your profile page!
      </p>
    </div>
  </div>
  <div class="show-bottom">
    <p>Your Accout Details:</p>
    <div class="diplay-raw">
    <p>First name: </p> <%= @user.first_name %>
    </div>
    <div class="diplay-raw">
    <p>Last name: </p> <%= @user.last_name %>
    </div>
    <div class="diplay-raw">
    <p>Birth date: </p> <%= @user.birth_date %>
    </div>
    <div class="diplay-raw">
    <p>Email: </p> <%= @user.email %>
    </div>
    <div class="diplay-raw">
    <p>Address: </p> <%= @user.address %>
    </div>
    </div>
    <div class="show-boking">
    <p> Your Bookings:</p>
    <p>Title: </p>
    </div>


</div>
