<div class="show-page">
  <div class="show-up">
    <div class="show-image" style="padding:10px">
      <img style="width: 130px;" src="https://cdn-icons-png.flaticon.com/512/994/994588.png" alt="">
    </div>
    <div class="show-message">
      <p>
        Welcome
        <strong><%= @user.first_name %></strong>  <br>
        to your profile page!
      </p>
    </div>
  </div>
  <div class="show-bottom">
    <p style="text-align:center;">Your Accout Details:</p>
    <div class="diplay-raw">
    <p>First name: <span class="ruby-text"><%= @user.first_name %></span></p>
    </div>
    <div class="diplay-raw">
    <p>Last name: <span class="ruby-text"><%= @user.last_name %></span></p>
    </div>
    <div class="diplay-raw">
    <p>Birth date: <span class="ruby-text"><%= @user.birth_date %></span></p>
    </div>
    <div class="diplay-raw">
    <p>Email: <span class="ruby-text"><%= @user.email %></span></p>
    </div>
    <div class="diplay-raw">
    <p>Address: <span class="ruby-text"><%= @user.address %></span></p>
    </div>
    </div>
    <div class="show-boking">
    <p style="text-align:center;"> Your Bookings:</p>
    </div>

</div>
