<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner" style="background-image: url(<%= image_path "concert.png" %>)">
        <div class="container mx-5 text-center">
          <h1>All out</h1>
          <p>Because fun times should not be hard to find!</p>
          <button class= "fill"><%= link_to 'Discover more', new_question_answer_path(@first_question) %></button>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="banner" style="background-image: url(<%= image_path "coffee.png" %>)">
        <div class="container mx-5 text-center">
          <h1>All out</h1>
          <p>From relaxing fine experiences... </p>
          <button class= "fill"><%= link_to 'Discover more', new_question_answer_path(@first_question) %></button>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="banner" style="background-image: url(<%= image_path "whale.png" %>)">
        <div class="container mx-5 text-center">
          <h1>All out</h1>
          <p>...to the most exciting adventures. </p>
          <button class= "fill"><%= link_to 'Discover more', new_question_answer_path(@first_question) %></button>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
