<div class="container full-page" style="background: white">
  <div style="height: 80px" class="center-all container-purple-button">
    <% if current_user.answers.length > 0 %>
      <%= link_to "#nofilter", activities_path(delete_answers: "true"), class: "purple-button"  %>
    <% end %>
  </div>
  <div class="search-box mb-4 mt-3">
    <% if params[:query].present? %>
      <%= form_tag activities_path, method: :get, class: "form-span" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-input",
          placeholder: "Find an activity"
        %>
        <%= button_tag(type: "submit", class: "search-button") do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% @activities.each do |activity| %>
    <div class="mb-5">
      <div class="card mx-2" id="activity-<%= activity.id %>" style="background-image: url(<%= cl_image_path activity.photo.key %>), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));">
      <div class="heart-container">
          <% if activity.favourites.exists? %>
            <%= link_to activity_favourite_path(activity_id: activity, id: activity.favourites.first), method: :delete, remote: true, class: "heart" do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to activity_favourites_path(activity), method: :post, remote: true, class: "heart" do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        </div>
        <div class="card-content container">
          <h3 class="card-title"><%= activity.title %></h3>
            <div class="card-body">
              <div class="stars">
                <% (activity.rating).to_i.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
              </div>
            <p><%= activity.description %></p>
            <p><%= humanized_money_with_symbol(activity.price) %></p>
            <p><i class="fas fa-map-marker-alt"></i>  <%= activity.location %></p>
            <div class="container-red-button">
              <%= link_to new_activity_booking_path(activity),  class: "red-button" do %>
                <span>Book now!</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <br>
</div>
