<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.title %></td>
        <td><%= activity.description %></td>
        <td><%= activity.price %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Liked', activity_favourites_path(activity), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
